<div
  class="course-card"
  appHighlight="lightblue"
  [ngClass]="cardClasses"
  [ngStyle]="{'border-left':'8px solid ' + getBorderColor()}">

  <h2>{{ course.name }}</h2>

  <p><strong>Course Code:</strong> {{ course.code }}</p>

  <p><strong>Credits:</strong> {{ course.credits | creditLabel }}</p>

  <div [ngSwitch]="course.gradeStatus">

    <span *ngSwitchCase="'passed'" class="badge passed">
      ✅ Passed
    </span>

    <span *ngSwitchCase="'failed'" class="badge failed">
      ❌ Failed
    </span>

    <span *ngSwitchCase="'pending'" class="badge pending">
      ⏳ Pending
    </span>

    <span *ngSwitchDefault class="badge">
      Unknown
    </span>

  </div>

  <br>

  <button
    class="enroll-btn"
    (click)="enroll()">

    {{ isEnrolled() ? 'Unenroll' : 'Enroll' }}

  </button>

  <button
    class="details-button"
    (click)="toggleDetails()">

    {{ isExpanded ? 'Hide Details' : 'Show Details' }}

  </button>

</div>